
.container {
  margin: 0 auto;
  padding: 1rem;

}

.actions {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;

  & span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}