* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #131313;
    color: #f0f0f0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

button {
    cursor: pointer;
    background-color: #ebebeb;
    color: #202020;
    border: 1px solid #b1b1b1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}